.header {
    width: 100%;
    cursor: pointer;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    background-color: #282C35;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 3vw;
    box-shadow: 0 1px 5px #000;
    color: #fff;
    z-index: 100;
}

@media (max-width : 1000px) {
    .header {
        padding-top: 15px;
        font-size: 6.4vw;
        padding-bottom: 5px;
    }

}